REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SUPABASE_URL=https://wuepxhgbstzjpqnlgofw.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1ZXB4aGdic3R6anBxbmxnb2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAwNDE3OTgsImV4cCI6MjA5NTYxNzc5OH0.TMi3ZTv0PCenaNeZTUXBC4Xd3dZAlKtVxf_fMeHmuIw
REACT_APP_RAZORPAY_KEY=rzp_test_1DP5MMOk78gTHU
